# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
env/
venv/
venv.bak/
*.sqlite3

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python packages
*.egg-info/
build/
dist/

# OneDrive temp
~$*
